.card{
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 3%;
    background-color: #fef9f3;
    cursor: pointer;
}

.card:hover {
    border-style: solid;
    border-width: 3px;
    background-color: #fcf8f0;
}

.number{
    font-size: 2em;
}